<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iitu.trainapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PathsActivity" />
        <activity android:name=".Activities.PathTestingActivity" />
        <activity android:name=".Activities.PathMenuActivity" />
        <activity android:name=".Activities.MainMenuActivity" />
        <activity android:name=".Activities.SequensesMenuActivity" />
        <activity android:name=".Activities.AboutActivity" />
        <activity android:name=".Activities.SequensesCustomActivity" />
        <activity android:name=".Activities.SequensesRandomActivity" />
        <activity android:name=".Activities.FormulasActivity" />
        <activity android:name=".Activities.BaseActivity" />
        <activity android:name=".Activities.SettingsActivity"></activity>
    </application>

</manifest>