<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iitu.trainapp">

    <application
        android:name=".TrainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PathsActivity"
            android:label="@string/paths" />
        <activity
            android:name=".Activities.PathTestingActivity"
            android:label="@string/path_testing" />
        <activity
            android:name=".Activities.PathMenuActivity"
            android:label="@string/path" />
        <activity
            android:name=".Activities.MainMenuActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.SequensesMenuActivity"
            android:label="@string/sequences" />
        <activity
            android:name=".Activities.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".Activities.SequensesCustomActivity"
            android:label="@string/sequence_custom" />
        <activity
            android:name=".Activities.SequensesRandomActivity"
            android:label="@string/sequence_random" />
        <activity
            android:name=".Activities.FormulasActivity"
            android:label="@string/formulas" />
        <activity
            android:name=".Activities.BaseActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".Activities.WhatWeDoActivity"
            android:label="@string/what_we_do" />
        <activity android:name=".Activities.SequenceTestAcivity" />
        <activity
            android:name=".Activities.SupportActivity"
            android:label="@string/support" />
    </application>

</manifest>